@import "../../assets/styles/colors";

.form-group {
    position: relative;
    width: 100%;

    &.form-group-invalid {
        label {
            color: map-get($colors, danger);
        }

        ::ng-deep input, select, textarea {
            &.ng-invalid.ng-touched {
                border-color: map-get($colors, danger);
            }
        }
    }

    label {
        text-transform: uppercase;
        display: block;
        margin-bottom: 8px;
        color: #8E9297;
        font-weight: bold;

        i {
            font-size: 12px;
            text-transform: capitalize;
            position: relative;
            top: -1px;
        }
    }

    ::ng-deep input, select, textarea {
        width: 100%;
        height: 46px;
        padding: 10px;
        font-size: 18px;
        border-radius: 3px;
        border: 1px solid #222222;
        background-color: #313339;
        margin-bottom: 20px;
        transition: border-color .2s;
        color: #DCDDDE;

        &:hover {
            border: 1px solid #000000;
        }

        &:focus {
            border: 1px solid #7289DA;
        }
    }

    ::ng-deep button.btn-action {
        position: absolute;
        height: 46px;
        padding: 10px;
        right: 0;
    }
}
