<form [formGroup]="payload" (ngSubmit)="submit()">
    <app-card title="Faça seu login">
        <div card-content>
            <div class="row">
                <div class="col-xs-12">
                    <app-fieldrow label="CPF" [abstractControl]="cpf">
                        <input type="text" name="cpf" [mask]="'000.000.000-00'" [dropSpecialCharacters]="false" placeholder="CPF" formControlName="cpf"/>
                    </app-fieldrow>
                </div>
                <div class="col-xs-12">
                    <app-fieldrow label="Senha" [abstractControl]="password">
                        <input type="password" name="password" placeholder="Senha" formControlName="password"/>
                    </app-fieldrow>
                </div>
            </div>
        </div>
        <div card-footer>
            <div class="row">
                <div class="col-xs-12">
                    <app-button type="submit" [loading]="submitLoading" class="btn-block btn-secondary">Continuar</app-button>
                    <p class="register">
                        Precisando de uma conta? <a [routerLink]="['/register']">Registre-se</a>
                    </p>
                </div>
            </div>
        </div>
    </app-card>
</form>
