.card {
    width: 500px;
    background-color: #36393F;
    padding: 30px;
    border-radius: 5px;

    .card-header {
        margin-bottom: 30px;

        ::ng-deep .card-title {
            color: #FFFFFF;
            font-size: 22px;
            text-align: center;
            font-weight: bold;
        }
    }

    .card-footer {
        margin-top: 20px;
    }
}
