<form [formGroup]="payload" (ngSubmit)="submit()">
    <app-card title="Crie sua conta">
        <div card-content>
            <div *ngIf="errorMessage && errorMessage.length >= 1" class="row">
                <div class="col-xs-12">
                    <app-alert class="alert-danger">
                        {{errorMessage}}
                    </app-alert>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <app-fieldrow label="Nome Completo" [abstractControl]="name">
                        <input type="text" name="name" placeholder="Nome Completo" formControlName="name"/>
                    </app-fieldrow>
                </div>
                <div class="col-xs-12">
                    <app-fieldrow label="CPF" [abstractControl]="cpf">
                        <input type="text" [mask]="'000.000.000-00'" [dropSpecialCharacters]="false" name="cpf" placeholder="CPF" formControlName="cpf"/>
                    </app-fieldrow>
                </div>
                <div class="col-xs-12">
                    <app-fieldrow label="Senha" [abstractControl]="password">
                        <input type="password" name="password" placeholder="Senha" formControlName="password"/>
                    </app-fieldrow>
                </div>
            </div>
        </div>
        <div card-footer>
            <div class="row">
                <div class="col-xs-12">
                    <app-button type="submit" [loading]="false" class="btn-block btn-secondary">Criar Agora</app-button>
                    <p class="login">
                        <a [routerLink]="['/login']">Já tem uma conta?</a>
                    </p>
                </div>
            </div>
        </div>
    </app-card>
</form>
